In [3]:
import pandas as pd

In [4]:
!pip install pandas==2.2.1

Requirement already satisfied: pandas==2.2.1 in c:\users\app\anaconda3\envs\python_ml\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\app\anaconda3\envs\python_ml\lib\site-packages (from pandas==2.2.1) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\app\anaconda3\envs\python_ml\lib\site-packages (from pandas==2.2.1) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\app\anaconda3\envs\python_ml\lib\site-packages (from pandas==2.2.1) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\app\anaconda3\envs\python_ml\lib\site-packages (from pandas==2.2.1) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\app\anaconda3\envs\python_ml\lib\site-packages (from python-dateutil>=2.8.2->pandas==2.2.1) (1.16.0)

In [6]:
import pandas as pd

In [7]:
pd.__version__

'2.2.1'

In [8]:
pd.set_option("max_colwidth", 0)

In [12]:
s = pd.Series([7, "Heisenberg", 3.14, -1789710578, 'Happy Eating!'])
s

0    7
1    Heisenberg
2    3.14
3    -1789710578
4    Happy Eating!
dtype: object

In [14]:
s2 = pd.Series([1, 2, 3, 4, 5])
s2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [33]:
s2[[0,3]]

0    1
3    4
dtype: int64

In [16]:
df = pd.DataFrame({"value_1": s, "value_2": s2})
df

         value_1  value_2
0  7              1
1  Heisenberg     2
2  3.14           3
3  -1789710578    4
4  Happy Eating!  5

In [22]:
s = pd.Series(data=[7, "Heisenberg", 3.14, -1789710578, 'Happy Eating!'], index=['A', 'Z', 'C', 'Y', 'E'])
s

A    7
Z    Heisenberg
C    3.14
Y    -1789710578
E    Happy Eating!
dtype: object

In [26]:
df = df.set_index("value_2")
df

               value_1
value_2
1        7
2        Heisenberg
3        3.14
4        -1789710578
5        Happy Eating!

# Dictionary to Series

In [28]:
d = {'Chicago': 1000, 'New York': 1300, 'Portland': 900, 'San Francisco': 1100, 'Austin': 450, 'Boston': None}
cities = pd.Series(d)
cities

Chicago          1000.0
New York         1300.0
Portland         900.0
San Francisco    1100.0
Austin           450.0
Boston          NaN
dtype: float64

In [29]:
cities["New York"]

1300.0

In [31]:
cities[['Chicago', 'New York', 'Portland', 'San Francisco', 'Austin']]

Chicago          1000.0
New York         1300.0
Portland         900.0
San Francisco    1100.0
Austin           450.0
dtype: float64

# Filtering Value

In [38]:
cities < 1000

Chicago          False
New York         False
Portland         True
San Francisco    False
Austin           True
Boston           False
dtype: bool

In [39]:
cities[cities < 1000]

Portland    900.0
Austin      450.0
dtype: float64

# Updating Value

In [40]:
print('Old value:', cities['Chicago'])
cities['Chicago'] = 1400
print('new value:', cities['Chicago'])

Old value: 1000.0
new value: 1400.0

# Searching Index

In [44]:
print("Seattle" in cities)
print('San Francisco' in cities)

False
True

# Manipulating Values

In [35]:
# divided city values by 3
cities / 3

Chicago          333.333333
New York         433.333333
Portland         300.000000
San Francisco    366.666667
Austin           150.000000
Boston          NaN
dtype: float64

In [ ]:
import numpy as np

In [36]:
# square city values
np.square(cities)

Chicago          1000000.0
New York         1690000.0
Portland         810000.0
San Francisco    1210000.0
Austin           202500.0
Boston          NaN
dtype: float64

In [37]:
print(cities[['Chicago', 'New York', 'Portland']] + cities[['Austin', 'New York']])

Austin     NaN
Chicago    NaN
New York    2600.0
Portland   NaN
dtype: float64

# Filtering NaN Values

In [41]:
cities.isnull()

Chicago          False
New York         False
Portland         False
San Francisco    False
Austin           False
Boston           True
dtype: bool

In [42]:
cities.notnull()

Chicago          True
New York         True
Portland         True
San Francisco    True
Austin           True
Boston           False
dtype: bool

In [43]:
cities[cities.notnull()]

Chicago          1400.0
New York         1300.0
Portland         900.0
San Francisco    1100.0
Austin           450.0
dtype: float64